/*We are changing the paragraphs!*/

body { 
	background: url(https://static.pexels.com/photos/5049/forest-trees-fog-foggy.jpg); 
				background-size:cover;
				background-repeat:no-size;	
}

p{
	color: cornflowerblue;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size; 20px;
}

div p, i{
	color: deeppink;
	font-size: 10px;
}

.first {
	color:goldenrod;
	font-size: 30px;
}

#comment {
	color: orchid;
	font-size: 20px;
}

a:hover {
	color: blue;
	font-size: 50px;
}

a:visited {
	color: orange;
	font-family: 'Cambria';

}

li:last-child {
	color: green;
	}

li:nth-child(2){
	color: brown;
}